.form{
    margin-top: 20px;
    width: 100%;
}

.form > *{
    width: 100%;
}

.forget__password{
    display: flex;
    justify-content: flex-end;
}

.forget__password > a{
    font-size: 12px;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    color: #333333CC;
    cursor: pointer;
}

